include COPYING
include test.py
include README.rst
include README.html
include default.css
include Version.h
include Version.py
include pgapack/include/pgapack.h
include pgapack/fakempi/mpi.h
include pgapack/docs/user_guide.pdf
include examples/cards_mutate.py
include examples/cards.py
include examples/constraint.py
include examples/dtlz2.py
include examples/fourbar.py
include examples/gears.py
include examples/hello_world_char.py
include examples/hello_world_int.py
include examples/himmelblau.py
include examples/magic_prio.py
include examples/magic_square.py
include examples/minfloat.py
include examples/multi.py
include examples/namefull.py
include examples/one_max.py
include examples/sort_numbers.py
include examples/twobar.py
include examples/vibr.py
include examples/xor.py
include examples/gp/gp.py
include examples/gp/opt_integral.py
include examples/gp/opt_parity3.py
include examples/gp/opt_xor.py
include examples/gp/README.rst
include examples/sequence/croes.tsp
include examples/sequence/oliver30.tsp
include examples/sequence/plot_tour.py
include examples/sequence/tsp.py
